nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .4s;
    padding: 40px 100px;
    z-index: 1000;
    background-color: rgb(15, 23, 42);
}

.main-menu {
    padding: 16px 32px 2px 32px;
    margin: 0;
    border-bottom: .001rem solid hsl(0, 4%, 60%, 50%);
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;
    padding: 0 2rem;
  }

  @media (min-width: 640px){
    .main-menu ul {
      width: 640px;
    }
  }

  @media (min-width: 768px) {
    .main-menu ul {
      width: 768px;
    }
  }

   @media (min-width: 1024px) {
    .main-menu ul {
      width: 1024px;
    }
  }

   @media (min-width: 1280px) {
    .main-menu ul {
      width: 1280px;
    }
  }

.right-group, .left-group {
    display: flex;
    padding-inline-start: .2rem;
    gap: 2rem;
    list-style: none;
}

.left-group .main-menu-links a svg {
    width: 1.5rem;
}

.main-menu a{
    color: hsl(0, 50%, 100%);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

.main-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;

}

.main-menu-icon {
    width: 1.4rem;
    display: none;
}
