.container {
    margin: auto;
}

.cripto-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
}

